<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ezartech.demo.ezarfacedetect" version="2.0.0" 
    xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ezAR FaceDetector</name>
    <description>
        Detect and highlight human faces in videoOverlay plugin's camera view.
    </description>
    <author email="info@ezartech.com" href="http://ezartech.com">
        @wayne_parrott, ezAR Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Fullscreen" value="true" />
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="com.ezartech.ezar.snapshot" spec="../../plugins/com.ezartech.ezar.snapshot" />
    <plugin name="com.ezartech.ezar.videooverlay" spec="../../plugins/com.ezartech.ezar.videooverlay" />
    <plugin name="com.ezartech.ezar.facedetector" spec="../../plugins/com.ezartech.ezar.facedetector" />

    <!--uncomment elements below to use alternative webviews-->
    <!--<plugin name="cordova-plugin-crosswalk-webview" />-->
    <!--<plugin name="cordova-plugin-wkwebview-engine" spec="https://github.com/driftyco/cordova-plugin-wkwebview-engine.git" />-->

</widget>
